<html>
  <head>
    <meta charset="utf-8" />
    <title>React Static Site</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>React Static Site</h1>
    <div id="outlet"><%- html %></div>
    <script>window.REDUX_INITIAL_STATE = <%- state %>;</script>
    <script src="/index.js"></script>
  </body>
</html>
