<html>
  <head>
    <title>React Static Site</title>
  </head>
  <body>
    <h1>React Static Site</h1>
    <div id="outlet"><%- html %></div>
    <script>window.REDUX_INITIAL_STATE = <%- state %>;</script>
    <% for (var chunk in assets) { -%>
    <script src="<%= assets[chunk] %>"></script>
    <% } -%>
  </body>
</html>
